spring:
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  datasource:
    url: jdbc:postgresql://localhost:5432/exam
    username: exam_user
    password: exam_user
  jpa:
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: classpath:/liquibase/changlog.xml

springdoc:
  swagger-ui:
    path: /swagger-ui.html


file:
  local-dir: /opt/exam/data/files
  max-size-bytes: 41943040 # 40MB

exam-period:
  auto-update-enabled: false