spring:
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  datasource:
    url: jdbc:postgresql://localhost:5432/exam
    username: postgres
    password: password
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: classpath:/liquibase/changlog.xml

springdoc:
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    #    org.springframework.security: trace
    #    ru.nstu: trace
    org.springframework.websocket: trace
    org.springframework.messaging: trace


auth:
  token:
    expiration-minutes: 10000000


file:
  local-dir: data/files
  max-size-bytes: 41943040 # 40MB